.game {
  background-image: url("img/paisajefinal.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.imggato {
  position: absolute;
  left: 50%;
}
.imggatojump {
  height: 400px;
  width: 400px;
}

.imgbuho {
  height: 200px;
  width: 150px;
  position: relative;
}
